body {
  color: white;
}
h2{
  font-family: 'Major Mono Display', monospace;
  font-weight: bolder;
  padding: 0 7%;
}
.all{
  background-image: linear-gradient(#c33764, #1d2671);
  padding-bottom: 3%;
}
.navbar{
  font-family: 'Bungee Inline', cursive;
  font-weight: bold;
  padding: 0 7%;
}

.brand{
  font-size: 1.7rem;
}

.rules{
  padding: 1% 7% 0 7%;
  text-align: left;
  font-family: 'Major Mono Display', monospace;
}

.choiceHeading{
  padding: 0;
}

.row{
  font-family: 'Bungee Inline', cursive;
  text-align: left;
  padding-bottom: 2%;
}

.option{
  text-align: left;
}

.playAgain{
  font-family: 'Bungee Inline', cursive;
  margin: 0 7%;
}

.footer{
  background-color: #212529;
  text-align: center;
  padding: 5% 0;
}
.footericon{
  padding: 0.5% 1.25%;
  color: lightBlue;
}
.footericon:hover{
  color: #ba93af;
}
